* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #80808029;
  font-family: "Raleway", sans-serif;
}

.largura-total {
  width: 100%;
}

.largura-limitada {
  width: 1024px;
  margin: 0 auto;
}

/* INÍCIO TOPO */
.topo {
  height: 55px;
  background-color: #fff;
}

.titulo img {
  width: 32px;
  height: 32px;
}

.titulo {
  display: flex;
  align-items: center;
  height: 100%;
}

.titulo p {
  font-size: 24px;
  color: #5d15d1;
  margin-left: 10px;
  font-weight: 600;
}
/* ANIMAÇÃO TITULO */
.bounce-in-right {
  -webkit-animation: bounce-in-right 3s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    0.5s;
  animation: bounce-in-right 3s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.5s;
}

/* ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 3s 1s both;
  animation: bounce-in-top 3s 1s both;
}

/* ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* FIM ANIMAÇÃO TITULO */

/* FIM TOPO */

/* INÍCIO BACKGROUND FORM */
.imagem-background {
  background-image: url("../imagens/bahia.jpg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  display: flex;
}

.box-form {
  margin: 50px auto;
  height: auto;
  background-color: #ffff;
  box-shadow: 3px 3px 5px #4e4e4e;
}

/* FIM BACKGROUND FORM */

/* INÍCIO CORPO FORM  */
form {
  width: 100%;
}
.titulo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-image: linear-gradient(
    125deg,
    #8b30db 0,
    #5d17cc 50%,
    #0900bd 100%
  );
}
::placeholder {
  color: #252525;
}
.titulo-form img {
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.titulo-form h1 {
  font-size: 14px;
  color: #fff;
  margin-left: 5px;
}

.corpo-form {
  padding: 30px 25px 20px 25px;
  box-sizing: border-box;
}

.corpo-form h2 {
  font-size: 22px;
  margin-bottom: 24px;
}

.campo-duplo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.campo-duplo div {
  width: calc(50% - 10px);
}

form label {
  font-size: 16px;
}

.input-textuais input,
.campo-duplo input,
.campo-duplo select {
  width: 100%;
  height: 32px;
  margin: 10px 0;
  padding: 0 5px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px #f7f7f7;
  background-color: #f7f7f7;
}

.input-textuais input:focus,
.campo-duplo input:focus,
.campo-duplo select:focus {
  background-color: #8653da;
  color: #fff;
}

.radio,
.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  cursor: pointer;
}

.radio label,
.checkbox label {
  padding: 0 10px 0 5px;
  cursor: pointer;
}

.radio label:hover,
.checkbox label:hover {
  color: #5d15d1;
  font-weight: bold;
}

.radio input,
.checkbox input {
  width: 15px;
  cursor: pointer;
}

button {
  width: auto;
  height: auto;
  border: none;
  color: #fff;
  background-color: #5d15d1;
  margin-top: 12px;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #4e4e4e;
  transition: 0.5s;
  padding: 0.5rem 0.8rem;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #5d15d1;
  font-weight: bold;
  border: 1px solid #5d15d1;
}
/* FIM CORPO FORM  */

/* INÍCIO OFERTAS /ANUNCIO */
.ofertas,
.anuncio {
  margin: 32px auto 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
}
.ofertas img,
.anuncio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 5px #4e4e4e;
}
.duas-imagens img {
  transition: 0.6s;
}
.ofertas h2,
.anuncio h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.ofertas p,
.anuncio p {
  font-size: 16px;
  margin-bottom: 15px;
}
/* INÍCIO OFERTAS /ANUNCIO */

/* INÍCIO OFERTAS */
.ofertas span {
  font-weight: bold;
}
.mosaico {
  width: 100%;
  height: 375px;
  display: flex;
  justify-content: space-between;
}
.uma-imagem {
  width: calc(50% - 10px);
}

.uma-imagem figure:hover,
.quatro-imagens figure:hover,
.duas-imagens img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.uma-imagem figure {
  position: relative;
  height: 100%;
  transition: 0.6s;
}
.quatro-imagens {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 50%;
}
.quatro-imagens figure {
  position: relative;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  transition: 0.6s;
}
.mosaico figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 17px;
  color: #fff;
  background-color: #00000070;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
/* FIM OFERTAS */

/* INÍCIO ANÚNCIOS */
.duas-imagens {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.anuncio figure {
  width: calc(50% - 10px);
  height: 100%;
}
.anuncio-local {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
}
.anuncio-local h4 {
  font-size: 16px;
}
.anuncio-local p {
  color: grey;
  margin-top: 15px;
}
/* FIM ANÚNCIOS */

/* INÍCIO RODAPÉ */
.rodape {
  background-image: linear-gradient(
    125deg,
    #8b30db 0,
    #5d17cc 50%,
    #0900bd 100%
  );
  margin-top: 32px;
}
.contatos {
  display: flex;
  justify-content: space-between;
}
.rodape-bloco {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.rodape-bloco h2 {
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
}

.rodape-bloco div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.rodape img {
  width: 18px;
}
.rodape a {
  text-decoration: none;
}
.rodape-bloco a:hover {
  color: #f7f7f7;
  font-weight: bold;
  text-shadow: 2px 2px 3px #7a7a7a;
}

.rodape span {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

/* FIM RODAPÉ */

/* INÍCIO RESPONSIVO ATÉ 540px */
@media (max-width: 540px) {
  .campo-duplo,
  .radio,
  .checkbox {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .radio input,
  .checkbox input {
    margin: 10px 0;
  }

  .campo-duplo div {
    width: 100%;
  }
  .uma-imagem figure:hover,
  .quatro-imagens figure:hover,
  .duas-imagens img:hover {
    transform: none;
  }
}
/* FIM RESPONSIVO ATÉ 540px */

/* INÍCIO RESPONSIVO ATÉ 768px */
@media (max-width: 768px) {
  button {
    width: 100%;
  }
  .mosaico {
    flex-direction: column;
    height: 100%;
  }
  .anuncio {
    height: 100%;
  }

  .uma-imagem figure,
  .quatro-imagens figure {
    width: 100%;
    height: 225px;
    margin-top: 15px;
  }
  .uma-imagem,
  .quatro-imagens {
    width: 100%;
  }

  .duas-imagens {
    width: 100%;
    flex-direction: column;
  }

  .anuncio figure {
    width: 100%;
  }
  .contatos {
    flex-direction: column;
    align-items: center;
  }
  .rodape-bloco {
    width: 250px;
  }
  .uma-imagem figure:hover,
  .quatro-imagens figure:hover,
  .duas-imagens img:hover {
    transform: none;
  }
  .uma-imagem img {
    object-position: top;
  }
}
/* FIM RESPONSIVO ATÉ 768px */

@media (max-width: 1100px) {
  .largura-limitada {
    width: 90%;
  }
}
